@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Plane Spheres is an open source game created by <a href="https://www.rplwork.com">Ryan Lynch</a>. You're welcome to check out the <a href="https://github.com/rynplynch/planespheres">source code</a>.</p>

